body{
    margin: 0;
    padding: 0;
}

#id_container{
    /* border: 1px solid green; */
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

#img{
    float: left;
    overflow: hidden;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    /* border: 1px solid blue; */
    width: 50%;
    height: 1080px;
    /* min-height: 1080px; */
}

#content{
    float: right;
    /* border: 1px solid red; */
    width: 49%;
    height: 1080px;
    padding: 30px;
    /* padding-top: 25%; */
    align-content: center;
    vertical-align: middle;
}

#name{
    font-family: futura-pt;
    font-weight: 700;
}

/* 
@media only screen and (min-width: 400px){
    #img{
        float: none;
        width: 100%;
    }
    #content{
        float: none;
        width: 100%;
    }
}


@media only screen and (min-width: 800px){
    #img{
        float: left;
        width: 50%;
    }
    #content{
        float: right;
        width: 49%;
    }
} */