#id_container{
    /* border: 1px solid green; */
    overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

#img{
    float: left;
    overflow: hidden;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    /* border: 1px solid blue; */
    width: 50%;
    /* height: auto; */
    min-height: 1000px;
}

#content{
    float: left;
    /* border: 1px solid red; */
    width: 49%;
    height: auto;
    padding: 100px;
    align-content: center;
}

#name{
    font-family: futura-pt;
    font-weight: 700;
}